<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='../static/style.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>Strawberry Image Classifier </div>
    <p>
      Upload images of <strong>Strawberry</strong>
    </p>
	<p>
	<h3>Image Uploaded would be Classified through the following classes:</h3>
	</p>
	<p>
	<strong>Class 1, Class 2 and Extra Class.</strong>
	</p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='250'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
	  
	  <p>&ensp;</p>
	  
	  <button class='choose-file-button' type='button' onClick='showRecommendation()'>Customer Recommendation</button>
	  
	  <div id ="recom_customer">
		<label id='recom_customer'></label>
	  </div>
	  
	  <button class='choose-file-button' type='button' onClick='showRecommendation()'>Vendor Recommendation</button>
	  
	  <div id ="recom_vendor">
		<label id='recom_vendor'></label>
	  </div>
	  
	  <button class='choose-file-button' type='button' onClick='showRecommendation()'>Farmer Recommendation</button>
	  
	  <div id ="recom_farmer">
		<label id='recom_farmer'></label>
	  </div>
	  
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
	  <div class='result2'>
		<label id='result2'></label>
	  </div>
    </div>
  </div>
</div>
</body>
</html>
